Create example for operations on list, tuples, sets and dictionaries

In [1]:
#lists

list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]

#concatenation
list_concat = list1 + list2
print("Concatenated list:", list_concat)

#append item to list
list1.append(99)
print("First list after 99 is appended:", list1)

#update item in list
list2[0] = 99
print("Second list after first element is updated:", list2)

#remove item from list
list2.remove(10)
print("Second list after last element is removed:", list2)

Concatenated list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
First list after 99 is appended: [1, 2, 3, 4, 5, 99]
Second list after first element is updated: [99, 7, 8, 9, 10]
Second list after last element is removed: [99, 7, 8, 9]

In [2]:
#tuples

tup1 = (1, 2, 3, 4)
tup2 = (5, 6, 7, 8)

#slicing
print("The first 3 elements of tuple 1 are:", tup1[0:3])

#concatenation
concat_tup = tup1 + tup2
print("The concatenated tuples are:", concat_tup)

#repetation
rep_tup1 = tup1 * 5
print("The first tuple repeated 5 times is:", rep_tup1)

The first 3 elements of tuple 1 are: (1, 2, 3)
The concatenated tuples are: (1, 2, 3, 4, 5, 6, 7, 8)
The first tuple repeated 5 times is: (1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [3]:
#dictionaries

dict1 = {1 : "red", 2 : "blue", 3: "green", 4 : "yellow"}
print(dict1)

#update
dict1[1] = "maroon"
print("Updated dict1 is: ", dict1)

#delete element
del dict1[3]
print("Updated dict1 is: ", dict1)

#pop element
popped = dict1.pop(4)
print("Updated dict1 is: ", dict1)
print("Popped element from dict1 is: ", popped)

{1: 'red', 2: 'blue', 3: 'green', 4: 'yellow'}
Updated dict1 is:  {1: 'maroon', 2: 'blue', 3: 'green', 4: 'yellow'}
Updated dict1 is:  {1: 'maroon', 2: 'blue', 4: 'yellow'}
Updated dict1 is:  {1: 'maroon', 2: 'blue'}
Popped element from dict1 is:  yellow

In [ ]:
#set

myset = {"Data", "data1", 0, 0, "Task"}
print(myset)

#adding element
print("my set before adding element:", myset)
myset.add(55)
print("my set after adding element:", myset)

#deleting element
print("my set before deletion of element:", myset)
myset.remove(55)
print("my set after deletion of element:", myset)